
.image{
    background-image: url("./Login-Mágico.png");
    min-width: 500px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
}
.App{
    background-color: rgb(255, 255, 255);
}

form{
    height: 370px;

}
 .text_style 
 {      
    color: #e40f0f; 
    font-family: "Great Vibes", cursive; 
    font-size: 100px; 
    line-height: 160px; 
    font-weight: normal; 
    margin-bottom: 0px;
    margin-top: 40px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; }